div {
    display: flex;
    flex-direction: column;
}

button {
    width: 150px;
}

#result-textarea {
    height: 400px;
    width: 400px;
}

label {
    display: flex;
    flex-direction: column;
}

#test-content-div {
    display: flex;
    flex-direction: column;
}

select {
    width: 100px;
}

#tests-textarea {
    display: flex;
    flex-direction: row;
}

#tests > * {
    margin-top: 5px;
    margin-left: 5px;
}

#app-select {
    width: auto;
}